@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
}

html{
    scroll-behavior: smooth;
}

a {
    transition: all 300ms ease;
}

/* Desktop Nav */

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    width: 100%;
    padding: 0 50px;
    background-color: black;
    z-index: 4;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 15px;
    align-items: center;
}

.nav-links .active{
    color: #AD6343;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.nav-links a:hover{
    color: #AD6343;
}

.logo a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
}

.logo a img{
    width: 60px;
    margin-right: 10px;
}

.account{
    float: left;
    overflow: hidden;
    font-weight: 200;
}

.account button{
    font-weight: 100;
}

.account .dropbtn {
    cursor: pointer;
    font-size: 15px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.account .dropbtn i{
    margin-left: 5px;
}

.account .drop {
    cursor: pointer;
    font-size: 15px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.account .drop i{
    margin-left: 5px;
}

.drop .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.drop .2);
    z-index: 1;
}

.drop .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 500;
}

.drop .dropdown-content .drop-divider{
    border-bottom: 1px solid gray;
}

.drop .dropdown-content a:hover {
    background-color: #ddd;
}

.drop .show {
    display: block;
}

.account:hover .drop{
    color: #AD6343;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 500;
}

.dropdown-content .drop-divider{
    border-bottom: 1px solid gray;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.account:hover .dropbtn{
    color: #AD6343;
}

.bag i{
    color: white;
    transition: all .3s ease-in-out;
    font-size: 20px;
}

.bag i:hover{
    color: #AD6343;
}

/* Name */

#home{
    padding-top: 150px;
}

.name-content{
    text-align: center;
    margin: 0 400px;
}

#home .name-content h1{
    font-size: 53px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

#about .name-content h1{
    font-size: 53px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.name-content h1{
    font-size: 53px;
    font-weight: 400;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}

.name-content a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 15px;
    font-weight: 200;
}

.name-content a:hover{
    background-color: #AD6343;
}

.name-content a:active{
    background-color: #7a432c;
}

/* Category */

#category{
    padding-top: 100px;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
}

.img-box{
    text-align: center;
    font-size: 22px;
}

.img-box .category-link{
    margin: 30px 0;
}

.img-box .category-link a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.img-box .category-link a:hover{
    color: #AD6343;
}

.box{
    position: relative;
    width: 951px;
    height: 951px;
    overflow: hidden;
}

.box img {
    transition: transform .5s ease;
  }

.box:hover img {
    transform: scale(1.1);
}

/* Info1 */

#info1{
    padding-top: 150px;
}

.content{
    width: 410px;
    background-color: #fcf6f2;
    text-align: center;
    padding: 80px 30px;
    position: absolute;
    z-index: 3;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.content .title{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.content .title h2{
    font-weight: 400;
    letter-spacing: 1px;
}

.content p{
    padding: 25px 40px;
    line-height: 30px;
    word-spacing: 2px;
    font-weight: 500;
    margin-bottom: 25px;
}

.content a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 15px;
    font-weight: 200;
    transition: all .3s ease-in-out;
}

.content a:hover{
    background-color: #AD6343;
}

.content a:active{
    background-color: #7a432c;
}

.image1{
    position: absolute;
    z-index: 1;
    left: 0; 
    right: 0; 
    margin-top: 90px;
    margin-left: 400px; 
    margin-right: auto;
    width: 500px; 
}

.image2{
    position: absolute;
    z-index: 2;
    left: 0; 
    right: 0; 
    margin-top: 350px;
    margin-left: auto; 
    margin-right: 400px;
    width: 700px;
}

/* Info2 */

#info2{
    margin-top: 1050px;
    padding-top: 150px;
}

#info2 img{
    width: 100%;
}

.content2{
    background-color: #fcf6f2;
    position: absolute;
    z-index: 1;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 810px;
    padding: 40px;
    text-align: center;
    padding: 50px 0;
    margin-top: 330px;
}

.content2 .title{
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.content2 .title h2{
    font-weight: 400;
}

.content2 p{
    padding: 25px 135px;
    line-height: 30px;
    word-spacing: 3px;
    font-weight: 500;
    margin-bottom: 25px;
}

.content2 a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 15px;
    font-weight: 200;
    transition: all .3s ease-in-out;
}

.content2 a:hover{
    background-color: #AD6343;
}

.content2 a:active{
    background-color: #7a432c;
}

.image3{
    display: flex;
}

.content-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.content-logo a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
    display: flex;
    align-items: center;

}

.content-logo a img{
    width: 50px;
    margin-right: 10px;
}

/* Footer */

.footer{
    padding: 50px;
    background-color: black;
    color: white;
    margin: 0;
    position: relative;
    font-size: 15px;
    text-decoration: none;
}

.footer-box{
    display: flex;
}

.footer-content{
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-content h4{
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.footer-content a{
    display: block;
    line-height: 30px;
    color: white;
    font-weight: 200;
}

.footer-content a:hover{
    color: #AD6343;
}

.footer-content .social-media{
    display: flex;
    margin-bottom: 15px;
    width: auto;
}

.footer-content .social-media a{
    color: white;
    transition: all 0.3 ease-in-out;
    width: 50px;
}

.footer-content .social-media a i{
    color: white;
    font-size: 22px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    padding: 7px;
}

.footer-content .social-media a i:hover{
    background-color: white;
    color: black;
}

.footer-content .social-media a i:active{
    background-color: gray;
}

.footer-content label{
    font-weight: 200;
}

.footer-content input{
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px 10px;
    width: 290px;
    border: none;
    font-family: 'Lato', sans-serif;
    outline: none;
    border: none;
}

.footer-content .submit{
    background-color: #AD6343;
    color: black;
    transition: all .3s ease-in-out;
}

.footer-content .submit:hover{
    background-color: white;
    color: black;
}

.footer-content .submit:active{
    background-color: #7a432c;
}


/* Products */

#women{
    padding-top: 150px;
    padding-bottom: 100px;
}

#men{
    padding-top: 150px;
    padding-bottom: 100px;
}

#all-products{
    padding-top: 150px;
    padding-bottom: 100px;
}

#products{
    padding: 0 50px;
}

.product-box{
    margin: 0 100px;
}

.product-box .product-category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 90px;
    justify-content: space-evenly;
}

.product-category .product{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 140px;
    text-align: left;
}

.product-category .product h4{
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

.product-category .product .product-image{
    height: 350px;
    width: 300px;
}

.product-category .product .product-image a{
    display: none;
    text-align: center;
    background-color: #AD6343;
    color: white;
    font-weight: 300;
    font-size: 15px;
    padding: 10px;
}

.product-category .product .product-image a:active{
    background-color: #7a432c;
}

.product-category .product .product-image:hover a{
    display: block;
    transform: scale(1.1);
}

.product-category .product .product-image img{
    transition: transform .5s ease;
}

.product-category .product .product-image:hover img{
    transform: scale(1.1);
    box-shadow: rgba(0,0,0,.3) 0 10px 70px;

}

.product-category .product .product-content{
    margin-top: 60px;
    text-align: center;
}

.product-content a{
    color: white;
    transition: all .3s ease-in-out;
    background-color: black;
    padding: 10px 15px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 200;
}

.product-content a:hover{
    color: white;
    background-color: #AD6343;
}

.product-content a:active{
    background-color: #7a432c;
}

.product-content .icons{
    text-align: left;
}

.product-content span{
    color: #AD6343;
}

.product-content .srp{
    margin-top: 10px;
    text-align: left;
}

/* About */

#about{
    padding-top: 150px;
    padding-bottom: 50px;
}

.content1{
    text-align: center;
    width: 500px;
    font-size: 21px;
    line-height: 35px;
    margin: auto;
    padding: 0 30px;
    font-weight: 300;
}

.content2-container{
    display: flex;
    flex-wrap: wrap;
}

.content2-box{
    position: relative;
    overflow: hidden;
    width: 634px;
}

.content2-box img{
    transition: transform .5s ease;
}

.content2-box:hover img{
    transform: scale(1.1);
}

#content3{
    padding: 150px;
}

.content3-container{
    display: flex;
    flex-wrap: wrap;
}

.content3-image{
    width: 430px;
    margin: auto;
}

.content3-content{
    width: 430px;
    text-align: center;
    margin: auto;
}

.content3-content h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.content3-content h3{
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
}

.content3-content .content3-para{
    font-weight: 500;
    line-height: 30px;
    padding: 0 15px;
}

#content4{
    padding: 0 150px;
}

.content4-container{
    display: flex;
    flex-wrap: wrap;
}

.content4-image{
    width: 430px;
    margin: auto;
}

.content4-content{
    width: 430px;
    text-align: center;
    margin: auto;
}

.content4-content h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 20px;
}

.content4-content h3{
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
    padding: 0 80px;
    line-height: 30px;
}

.content4-content .content4-para{
    font-weight: 500;
    line-height: 30px;
    padding: 0 15px;
}

#content5{
    padding: 150px;
}

.content5-container{
    display: flex;
    flex-wrap: wrap;
}

.content5-image{
    width: 430px;
    margin: auto;
}

.content5-content{
    width: 430px;
    text-align: center;
    margin: auto;
}

.content5-content h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.content5-content h3{
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
}

.content5-content .content5-para{
    font-weight: 500;
    line-height: 30px;
    padding: 0 17px;
}


/* SIGN IN */

.signin{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.signup{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 110vh;
    background-color: #f9f9f9;
}

.signin-container{
    background-color: white;
    width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.signin-title{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.signin-title h1{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
}

.signin-container .form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    margin: 30px 0;
}

.input-box input{
    width: 400px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    line-height: 50px;
    font-size: 17px;
}

.remember{
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember label{
    letter-spacing: 1px;
}

.remember label input{
    accent-color: black;
    margin-right: 3px;
}

.remember a{
    color: #AD6343;
}

.remember a:hover{
    text-decoration: underline;
}

.signin-btn{
    width: 100%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
}

.signin-btn:hover{
    background-color: #AD6343;
}

.or{
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
}

.signin-icons{
    margin-top: 25px;
}

.signin-icons a{
    color: black;
    transition: all 0.3 ease-in-out;
    width: 50px;
}

.signin-icons a i{
    color: black;
    font-size: 30px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    padding: 7px;
}

.signin-icons a i:hover{
    background-color: black;
    color: white;
}

.register{
    font-size: 15px;
    color: black;
    text-align: center;
    font-weight: 500;
    margin-top: 70px;
}

.register a{
    font-weight: 500;
    color: #AD6343;
}

.register a:hover{
    text-decoration: underline;
}

/* SHOPPING BAG */

.shoppingbag{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.shoppingbag-container{
    background-color: white;
    width: 1300px;
    height: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.bag-title{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 13px;
    padding: 20px 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    cursor: default;
}

.edit{
    font-size: 8px;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.add{
    margin-left: 890px;
    font-size: 8px;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.add h1{
    font-weight: 300;
}

.add h1:hover{
    text-decoration: underline;
}

.edit h1{
    font-weight: 300;
}

.edit h1:hover{
    text-decoration: underline;
}

.bag-empty{
    font-family: 'Poppins', sans-serif;
}

.bag-empty h1{
    text-align: center;
    margin-top: 150px;
    font-weight: 400;
}

.bag-empty p{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.bag-shop{
    margin-top: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.bag-shop a{
    background-color: black;
    padding: 15px 20px;
    color: white;
    transition: .3s ease-in-out;
    font-size: 15px;
}

.bag-shop a:hover{
    background-color: #AD6343;
}